<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Car Listing</title>

</head>
<body>
<style>
    div.a {
        text-align: center;

    }
</style>
<div class="a">
    <div th:replace="base :: navlinks"></div>
    <h1>Nick's Cheap Cars</h1>



<p class="row">
        <span>
            <span class="cat-btn"><a href="/detailcategory/1">Ford</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/2">Mercury</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/3">Chevy</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/4">Buick</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/5">Mercedes Benz</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/6">Jaguar</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/7">Lexus</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/8">BMW</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/9">Jeep</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/10">Toyota</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/11">Tesla</a></span>
        </span><span>
            <span class="cat-btn"><a href="/detailcategory/12">Honda</a></span>
        </span>
</p>

    <div class="row text-center">
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Ford Mustang</span></div>
                    <div class="card-body">
                        <img src="https://www.ford.com/cars/mustang/models/gt-fastback" />

                        <a class="card-link btn btn-warning"
                           href="/detail/1">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Mercury Marauder</span></div>
                    <div class="card-body">

                        <a class="card-link btn btn-warning"
                           href="/detail/2">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Chevy Impala</span></div>
                    <div class="card-body">
                        <div>

                        </div>
                        <a class="card-link btn btn-warning"
                           href="/detail/3">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Buick Regal</span></div>
                    <div class="card-body">

                        <a class="card-link btn btn-warning"
                           href="/detail/4">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Mercedes S500</span></div>
                    <div class="card-body">
                        <div>

                        </div>
                        <a class="card-link btn btn-warning"
                           href="/detail/5">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Jaguar F type</span></div>
                    <div class="card-body">

                        <a class="card-link btn btn-warning"
                           href="/detail/6">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Lexus LS-460</span></div>
                    <div class="card-body">
                        <img src="https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Flexusenthusiast.com%2Fimages%2Fweblog%2F10-03-26-lexus-ls-460l.jpg&amp;data=02%7C01%7C%7C06636649d2bf49d35f0c08d65f2e8424%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636801050714614574&amp;sdata=8XYWcCnF9xw6TeI6RodEBuFZ4w5ILdGZ4BDcPeiyMms%3D&amp;reserved=0" alt="Automobile Magazine Editors' 2010 LS 460 L Review" class="borderc" />
                        <a class="card-link btn btn-warning"
                           href="/detail/7">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>BMW 3 Series</span></div>
                    <div class="card-body">

                        <a class="card-link btn btn-warning"
                           href="/detail/8">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Jeep Cherokee</span></div>
                    <div class="card-body">

                        <a class="card-link btn btn-warning"
                           href="/detail/9">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Toyota Camry</span></div>
                    <div class="card-body">
                        <img src="https://cars.usnews.com/cars-trucks/toyota/camry" />

                        <a class="card-link btn btn-warning"
                           href="/detail/10">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Tesla Model S</span></div>
                    <div class="card-body">
                        <img src="https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/socialcard/MS.jpg" />
                        <a class="card-link btn btn-warning"
                           href="/detail/11">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div>
        <div>

            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header text-center"><span>Honda Odyssey</span></div>
                    <div class="card-body">
                        <img src="https://photos.motorcar.com/new-2019-honda-odyssey-eliteautomatic-8451-17791569-1-640.jpg" />
                        <a class="card-link btn btn-warning"
                           href="/detail/12">More
                            Info</a>
                    </div>
                </div>
            </div><!--end div class col-->

        </div><!--end div th:each-->
    </div><!--end div class row-->

</body>
</html>